.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 92px;
  padding-right: 49px; 
  padding-bottom: 92px;
  padding-left: 51px;
}

.header__links-list{
  display: inline-flex;
  flex-shrink: 0;
  justify-content: space-around;
  gap: 32px;
}

.header__links-list-item{
  flex-shrink: 0;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  list-style: circle;
}

.header__links-list-item_no-bullit{
  list-style: none;
}

.address__link{
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
  text-decoration: none;
  text-decoration-line: underline;
}

.address__text{
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
  max-width: 240px;
}

.header__link__inactive{
  text-decoration-line: none;
}

.address{
  display: flex;
  flex-flow: column;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 135% */
}

.header__address{
  text-align: start;
}

.footer__address{
  text-align: start;
}

.header__logo{
  flex-shrink: 0;
  justify-content: start;
  min-width: 148px;
  min-height: 105px;
}

.cover{
  position: relative;
  display: flex;
  flex-flow: column;
  max-width: 1440px;
  background-image: url("../images/cover.jpg");
  background-position: 100%;
  background-size: 100%;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title{
  z-index: 1;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  column-gap: 0;
  padding-top: 165px;
  padding-right: 50px;
  padding-bottom: 0;
  padding-left: 50px;
}

.aligned-text{
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__title__letter__no__spacing{
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  letter-spacing: 0;
  text-transform: uppercase;
}

.cover__title__letter__spacing{
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__title__letter__extra__spacing{
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  letter-spacing: 60px;
  text-transform: uppercase;
}

.aligned-text_left{
  display: flex;
  line-height: 115%;
  justify-content: start;
}

.aligned-text_center{
  display: flex;
  line-height: 100%;
  justify-content: center;
}

.aligned-text_right{
  display: flex;
  line-height: 70%;
  justify-content: end;
}

.cover__description{
  z-index: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 105px;
  padding-right: 50px;
  padding-bottom: 50px;
  white-space: nowrap;
}

.cover__description-text{
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-align: start;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button{
  z-index: 1;
  width: 257px;
  height: 52px;
  margin-left: 78px; 
  border: 1px solid #FFF;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots{
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
  margin-top: 182px;
  margin-right: 50px;
  padding-left: 50px;
}

.lots__heading{
  margin-bottom: 27px;
  margin-left: 40px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  width: auto;
}

.card{
  position: relative;
  display:flex;
  flex-flow: column;
  flex-shrink: 0;
  width: 430px;
  max-height: 450px;
  height: 100%;
  min-height: 450px;
  background-position: 100%;
  background-size: 100%;
}

.card__title{
  z-index: 1;
  margin-top: 50px;
  margin-right: 40px;
  margin-left: 40px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text{
  z-index: 0;
  margin-right: 40px;
  margin-bottom: 50px;
  margin-left: 40px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%; /* 24px */
}

.card__text__first{
  padding-top: 202px;
}

.card__text__second{
  padding-top: 30px;
}

.card__text__third{
  padding-top: 84px;
}

.card_type_film{
  grid-column-start: 1;
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book{
  grid-column-start: 2;
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture{
  grid-column-start: 3;
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link{
  padding-top: 30px;
  padding-left: 40px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.about{
  display: grid;
  flex-shrink: 0;
  grid-template-columns: 430px 885px;
  justify-content: center;
  gap: 25px;
  margin-top: 181px;
}

.about__column{
  display: flex;
  flex-shrink: 0;
  justify-content: center;
}

.about__logo{
  display: flex;
  flex-shrink: 0;
  grid-column-start: 1;
  grid-column-end: 1;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image{
  flex-shrink: 0;
  width: 148px;
  height: 114px;
}

.about__info{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: start;
  align-items: flex-start;
  gap: 100px;
  margin-top: 100px;
  padding-bottom: 0px;
}

.about__title{
  display: flex;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about__info-text{
  display: grid;
  gap: 25px;
}

.about__text{
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.footer{
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  margin-top: 180px;
  margin-right: 50px;
  margin-bottom: 90px;
  margin-left: 50px;
}

.footer__menu{
  flex-shrink: 0;
}

.footer__menu-list{
  text-align: center;
}

.footer__menu-list-item{
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  list-style: none;
}

.footer__menu-link_active{
  text-decoration: none;
}

.footer__menu-link{
  text-underline-offset: 4px;
}

.footer__social-list{
  display: flex;
  justify-content: space-between;
  min-width: 240px;
}

.footer__social-list-item{
  list-style: none;
}

.footer__social-link{
  scroll-behavior: smooth;
}

.footer__social-icon{
  width: 48px;
  height: 48px;
}